body {
  background-color: #0C1844;
  color: white;
  min-height: 100vh;
  margin: 0;
}

.custom-bg {
  background-color: #0C1844;
  color: white
}

.navbar-custom {
  background-color: light; /* Asegúrate de ajustar el fondo si es necesario */
}

.navbar-custom .navbar-nav .nav-link {
  color: white !important;
}

.navbar-custom .navbar-brand {
  color: white !important;
}

.navbar-custom .nav-dropdown .dropdown-item {
  color: black !important; /* Ajusta si es necesario para los dropdown items */
}

.navbar-custom .form-inline .form-control {
  color: blac
}